<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="css/index.css">
    <title>Tic Tac Toe</title>
</head>
<body>
    <!-- onclick runs createBoard function -->
    <button  id="create-board" onclick="createBoard()">Create a board</button>
    <script src="js/index.js" defer></script>
</body>
</html>