<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="room.css">
    <script>
        const ROOM_ID = "<%=roomId %>"
    </script>
    <title>Document</title>
</head>
<body>
    ROOMID
</body>
</html>